<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="LiteDbConnection" connectionString="Filename=db.db; Flush=true" />
      <add name="SQLiteConnection" connectionString="Data Source=|DataDirectory|\db.sqlite3;Version=3;Pooling=True;" />
    </connectionStrings>
</configuration>