<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LiteDbFileName" value="db.litedb" />
    <add key="SQLiteFileName" value="db.sqlite3"/>
  </appSettings>
  <connectionStrings>
    <add name="LiteDbConnection" connectionString="Filename={0}; Flush=true" />
    <add name="SQLiteConnection" connectionString="Data Source={0}; Version=3; Pooling=True;" />
  </connectionStrings>
</configuration>